USE [master]
GO
/****** Object:  Database [PruebaTecnica]    Script Date: 15/04/2026 12:55:50 a. m. ******/
CREATE DATABASE [PruebaTecnica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaTecnica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PruebaTecnica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaTecnica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PruebaTecnica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaTecnica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaTecnica]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 15/04/2026 12:55:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PaisOrigen] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendedores]    Script Date: 15/04/2026 12:55:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](70) NOT NULL,
	[Apellido] [nvarchar](70) NOT NULL,
	[Cedula] [nvarchar](20) NOT NULL,
	[Estado] [int] NOT NULL,
	[MotivoEstado] [nvarchar](max) NULL,
 CONSTRAINT [PK_Vendedores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 15/04/2026 12:55:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Modelo] [nvarchar](100) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Placa] [nvarchar](450) NULL,
	[MarcaId] [int] NOT NULL,
	[VIN] [nvarchar](450) NOT NULL,
	[PrecioReferencia] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Vehiculos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 15/04/2026 12:55:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[VehiculoId] [int] NOT NULL,
	[VendedorId] [int] NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vistaVentas]    Script Date: 15/04/2026 12:55:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vistaVentas]
AS

SELECT 
V.Fecha,
Ve.Placa,
Ven.Cedula,             
Ve.VIN, 
Ma.Nombre AS Marca,
Ve.Modelo AS Vehiculo,
CONCAT(Ven.Nombre, ' ', Ven.Apellido) AS Vendedor,
V.PrecioVenta 

FROM Ventas V
JOIN Vehiculos Ve ON V.VehiculoId = Ve.Id
JOIN Marcas Ma ON Ve.MarcaId = Ma.Id
JOIN Vendedores Ven ON V.VendedorId = Ven.Id
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15/04/2026 12:55:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260409050551_Inicial', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260409051129_AjustePrecisionPrecio', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260410035006_Required', N'10.0.5')
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([ID], [Nombre], [PaisOrigen], [Descripcion]) VALUES (3, N'Mazda', N'Japón', N'Fabricante automotriz japonés fundado en 1920 en Hiroshima, reconocido por su enfoque en el diseño elegante ')
INSERT [dbo].[Marcas] ([ID], [Nombre], [PaisOrigen], [Descripcion]) VALUES (14, N'BMW', N'Alemania', N'Fabricante alemán premium de automóviles y motocicletas de lujo.')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculos] ON 

INSERT [dbo].[Vehiculos] ([Id], [Modelo], [Color], [Placa], [MarcaId], [VIN], [PrecioReferencia]) VALUES (8, N'CX-30 2026', N'Blanco', N'ABC123', 3, N'1HGBH41JXMN109186', CAST(112500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Vehiculos] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendedores] ON 

INSERT [dbo].[Vendedores] ([ID], [Nombre], [Apellido], [Cedula], [Estado], [MotivoEstado]) VALUES (1, N'Laura Daniela', N'Roballo Herrera ', N'1019763154', 0, NULL)
INSERT [dbo].[Vendedores] ([ID], [Nombre], [Apellido], [Cedula], [Estado], [MotivoEstado]) VALUES (2, N'Felipe Andres', N'Morales', N'1019763154', 0, NULL)
INSERT [dbo].[Vendedores] ([ID], [Nombre], [Apellido], [Cedula], [Estado], [MotivoEstado]) VALUES (3, N'Juan', N'Rodriguez', N'12345678910', 0, NULL)
SET IDENTITY_INSERT [dbo].[Vendedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id], [Fecha], [PrecioVenta], [VehiculoId], [VendedorId]) VALUES (10, CAST(N'2026-04-15T00:36:37.1361538' AS DateTime2), CAST(140000000.00 AS Decimal(18, 2)), 8, 1)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Marcas_Nombre]    Script Date: 15/04/2026 12:55:51 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Marcas_Nombre] ON [dbo].[Marcas]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehiculos_MarcaId]    Script Date: 15/04/2026 12:55:51 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_MarcaId] ON [dbo].[Vehiculos]
(
	[MarcaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehiculos_Placa]    Script Date: 15/04/2026 12:55:51 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Vehiculos_Placa] ON [dbo].[Vehiculos]
(
	[Placa] ASC
)
WHERE ([Placa] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehiculos_VIN]    Script Date: 15/04/2026 12:55:51 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Vehiculos_VIN] ON [dbo].[Vehiculos]
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_VehiculoId]    Script Date: 15/04/2026 12:55:51 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_VehiculoId] ON [dbo].[Ventas]
(
	[VehiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_VendedorId]    Script Date: 15/04/2026 12:55:51 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_VendedorId] ON [dbo].[Ventas]
(
	[VendedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Vehiculos] ADD  DEFAULT (N'') FOR [VIN]
GO
ALTER TABLE [dbo].[Vehiculos] ADD  DEFAULT ((0.0)) FOR [PrecioReferencia]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Marcas_MarcaId] FOREIGN KEY([MarcaId])
REFERENCES [dbo].[Marcas] ([ID])
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Marcas_MarcaId]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Vehiculos_VehiculoId] FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculos] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Vehiculos_VehiculoId]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Vendedores_VendedorId] FOREIGN KEY([VendedorId])
REFERENCES [dbo].[Vendedores] ([ID])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Vendedores_VendedorId]
GO
/****** Object:  StoredProcedure [dbo].[sp_VehiculosPorVendedor]    Script Date: 15/04/2026 12:55:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_VehiculosPorVendedor]
    @CedulaVendedor NVARCHAR (50)
AS
BEGIN
    SET NOCOUNT ON; 

    SELECT
        V.Fecha,
        Ve.Placa,           
        Ma.Nombre AS Marca, 
        Ve.Modelo AS Vehiculo,
        Ven.Nombre AS Vendedor,
        V.PrecioVenta,
        Ven.Cedula, 
        Ve.VIN     
    FROM Ventas V
    JOIN Vehiculos Ve ON V.VehiculoId = Ve.Id
    JOIN Marcas Ma ON Ve.MarcaId = Ma.Id
    JOIN Vendedores Ven ON V.VendedorId = Ven.Id
    WHERE Ven.Cedula = @CedulaVendedor;
END
GO
USE [master]
GO
