@page "/consultar-ventas"
@using PruebaTecnicaFinanzauto.Models.DTOs
@using PruebaTecnicaFinanzauto.Service
@inject VentaService VentaService

<h3>Consultar Ventas por Cédula</h3>

<div class="input-group mb-3">
    <input @bind="cedula" placeholder="Ingrese cédula del vendedor..." class="form-control" />
    <button class="btn btn-info" @onclick="Consultar">Consultar</button>
</div>

@if (ventas != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Vehículo</th>
                <th>Marca</th>
                <th>Precio Venta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in ventas)
            {
                <tr>
                    <td>@v.Vehiculo</td>
                    <td>@v.Marca</td>
                    <td>@v.PrecioVenta.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string cedula = "";
    private List<VistaVenta> ventas = new();

    private async Task Consultar()
    {
        // Llamada al método asíncrono de tu Service
        ventas = await VentaService.ConsultarVentasPorCedula(cedula);
    }
}