@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* Barra superior *@
        <div class="top-row px-4 shadow-sm bg-white d-flex align-items-center">
            <h5 class="m-0 text-primary fw-bold">
                <i class="bi bi-speedometer2 me-2"></i>Sistema de gestión de inventario
            </h5>
        </div>

        <article class="content px-4 py-3">
            @Body
        </article>
    </main>
</div>