<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Registro de ventas y vehiculos</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editar-vendedor">
                Editar Vendedor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="consultar-ventas">
                Consultar Ventas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nueva-marca">
                Nueva Marca
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gestion-ventas">
                Eliminar Venta
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vendedores">Ver Vendedores</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="marcas">Ver Marcas</NavLink>
        </div>

    </nav>
</div>