@using Microsoft.AspNetCore.Components.Web


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["PruebaTecnicaFinanzauto.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    
    @* Agregamos el modo interactivo al Head para que los títulos y estilos funcionen bien *@
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>

<body>
    @* ESTA ES LA CLAVE: Agregamos el rendermode a Routes *@
    <Routes @rendermode="RenderMode.InteractiveServer" />

    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>